.clock {
	padding: 15px;
	margin: 2px;
    font-size: 30pt;
    color: #ffffff;
    text-shadow: 1px 1px #000000;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
}

.countdown {
  //border-style: solid;
  //border-width: 1px;
  //border-color: #000;
    line-height: 120%;
    padding: 2px;
    font-size: 50pt;
    color: #ffffff;
    text-shadow: 1px 1px #000000;
    width: 300px;
    text-align: center;
  .counter {
    margin: 2px auto;
  }
}

.twitch-chat {
  font-size: 14px;

  .chat-header {
    font-size: 20px;
  }

  .chat-box {
    margin: 15px;
    width: 400px;
    height: 600px;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    display:table-cell;
    vertical-align: bottom;
  }

  .chat-message {
    position: relative;
    display: block;
  }

  .message-content {

  }

  span {
    margin: 2px;
  }

  .chat-time {
    margin: 2px;
    color: rgb(200, 200, 200);
  }

  .chat-user {
    font-weight: bold;
  }
  .chat-message {
    color: rgb(178, 0, 0);
  }

  .chat-emote {
    height: 24px;
    vertical-align: middle;
  }


}