.clock {
	padding: 15px;
	margin: 2px;
    font-size: 30pt;
    color: #ffffff;
    text-shadow: 1px 1px #000000;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
}

.countdown {
  //border-style: solid;
  //border-width: 1px;
  //border-color: #000;
    line-height: 120%;
    padding: 2px;
    font-size: 50pt;
    color: #ffffff;
    text-shadow: 1px 1px #000000;
    width: 300px;
    text-align: center;
  .counter {
    margin: 2px auto;
  }
}